PORT=3001
SUPABASE_URL=https://dzxbewvjrmetnkylraei.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6eGJld3Zqcm1ldG5reWxyYWVpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTExMDUxMCwiZXhwIjoyMDkwNjg2NTEwfQ.9bIUSa83dDndf9GRM2w1ZszSl65aagc7-_vnhJ9lCCQ
